.topbutton {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: var(--title-color);
  opacity: .8;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}
.topbutton_icon {
  font-size: 1.5rem;
  color: var(--container-color);
}
.topbutton:hover {
  background-color: var(--title-color-dark)
}
.show-topbutton {
  bottom: 3rem;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .topbutton {
    right: 1.5rem;
    padding: 0.3rem 0.4rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .show-topbutton {
    bottom: 4rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .topbutton {
    right: 1rem;
  }
}
